
.menu ul li {
  display: inline;
}

.menu ul li a {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
  color: #eff0e8;
  padding: 20px;
  display: inline-block;
  justify-content: flex-end;
  align-content:flex-end;
  text-decoration: none;
  display: inline-block;
}

.menu ul li a:hover {
  background-color: #F2E49B;
  color: #0D0D0D;
}
